body {
    font-family: 'Palatino', serif;
    font-size: 17px;
    line-height: 1.5;
    margin: 0;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
}

main {
    max-width: 32rem;
    width: 100%;
}

h1, h2 {
    font-weight: 400;
}

a {
    color: #2c5282;
}

a:hover {
    color: #1a365d;
}

ul {
    padding-left: 1.2rem;
    list-style-type: square;
}